<a href="https://colab.research.google.com/github/muralikrishnan2022/CTF_Data_MIC/blob/main/MIC_CTF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Assuming you have a DataFrame named 'df'
df= pd.read_csv('/content/UFO.csv')

# Example using a DataFrame
num_rows, num_columns = df.shape

print(f"Number of Rows: {num_rows}")
print(f"Number of Columns: {num_columns}")

Number of Rows: 80332
Number of Columns: 9

In [ ]:
df.isnull().sum()

datetime               694
city                     0
state                 5797
country               9670
shape                 1932
duration (seconds)       3
comments                15
latitude                 1
longitude                0
dtype: int64

In [ ]:
numerical_columns = df.select_dtypes(include=['number']).columns
categorical_columns = df.select_dtypes(include=['object']).columns

num_numerical_columns = len(numerical_columns)
num_categorical_columns = len(categorical_columns)

print(f"Number of Numerical Columns: {num_numerical_columns}")
print(f"Number of Categorical Columns: {num_categorical_columns}")

Number of Numerical Columns: 3
Number of Categorical Columns: 6

In [ ]:
df

,datetime,city,state,country,shape,duration (seconds),comments,latitude,longitude
0,1949-10-10 20:30:00,san marcos,tx,us,cylinder,2700.0,This event took place in early fall around 194...,29.883056,-97.941111
1,1949-10-10 21:00:00,lackland afb,tx,NaN,light,7200.0,1949 Lackland AFB&#44 TX. Lights racing acros...,29.384210,-98.581082
2,1955-10-10 17:00:00,chester (uk/england),NaN,gb,circle,20.0,Green/Orange circular disc over Chester&#44 En...,53.200000,-2.916667
3,1956-10-10 21:00:00,edna,tx,us,circle,20.0,My older brother and twin sister were leaving ...,28.978333,-96.645833
4,1960-10-10 20:00:00,kaneohe,hi,us,light,900.0,AS a Marine 1st Lt. flying an FJ4B fighter/att...,21.418056,-157.803611
...,...,...,...,...,...,...,...,...,...
80327,2013-09-09 21:15:00,nashville,tn,us,light,600.0,Round from the distance/slowly changing colors...,36.165833,-86.784444
80328,2013-09-09 22:00:00,boise,id,us,circle,1200.0,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,43.613611,-116.202500
80329,2013-09-09 22:00:00,napa,ca,us,other,1200.0,Napa UFO&#44,38.297222,-122.284444
80330,2013-09-09 22:20:00,vienna,va,us,circle,5.0,Saw a five gold lit cicular craft moving fastl...,38.901111,-77.265556
80331,2013-09-09 23:00:00,edmond,ok,us,cigar,1020.0,2 witnesses 2 miles apart&#44 Red &amp; White...,35.652778,-97.477778

Warning: total number of rows (80332) exceeds max_rows (20000). Limiting to first (20000) rows.
Warning: total number of rows (80332) exceeds max_rows (20000). Limiting to first (20000) rows.

In [ ]:
import pandas as pd

# Assuming you have a DataFrame named 'df' with a 'Country' column
# You can read a dataset using pd.read_csv or other functions

# Count the occurrences of 'gb' in the 'Country' column
num_gb_sightings = df['country'].str.lower().eq('gb').sum()

print(f"Number of Sightings in Great Britain (gb): {num_gb_sightings}")

Number of Sightings in Great Britain (gb): 1905

In [ ]:
import pandas as pd

# Assuming you have a DataFrame named 'df' with a 'City' column
# You can read a dataset using pd.read_csv or other functions

# Rank the cities based on occurrences
city_occurrences = df['city'].value_counts()

city_occurrences = city_occurrences.sort_values(ascending=False)

# Display the ranked cities
print(city_occurrences)

seattle                                    525
phoenix                                    454
portland                                   374
las vegas                                  368
los angeles                                353
                                          ...
east london (canada)                         1
fort yates                                   1
barnegat light                               1
south normanton&#44 derbys (uk/england)      1
hamstead (hollyridge)                        1
Name: city, Length: 19900, dtype: int64

In [ ]:
 #Convert the 'Datetime' column to datetime format
df['datetime'] = pd.to_datetime(df['datetime'], errors='coerce')

# Filter data for the time range 1960 to 1983
filtered_data = df[(df['datetime'].dt.year >= 1960) & (df['datetime'].dt.year <= 1983)]

# Rank the cities based on occurrences within the specified time range
city_occurrences = filtered_data['city'].value_counts()

# Display the ranked cities
print(city_occurrences)

chicago        21
houston        21
los angeles    18
miami          18
seattle        14
               ..
goodman         1
portage         1
millerton       1
merkel          1
mount kisco     1
Name: city, Length: 2877, dtype: int64

In [ ]:
import pandas as pd

# Assuming you have a DataFrame named 'df' with a 'City' column
# You can read a dataset using pd.read_csv or other functions

# Count occurrences of 'Los Angeles' in the 'City' column
los_angeles_count = df['city'].value_counts().get('los angeles', 0)

print(f"Count of Occurrences of 'Los Angeles' in City: {los_angeles_count}")

Count of Occurrences of 'Los Angeles' in City: 353

In [ ]:
print(df.columns)

Index(['datetime', 'city', 'state', 'country', 'shape', 'duration (seconds)',
       'comments', 'latitude', 'longitude'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80332 entries, 0 to 80331
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   datetime            79638 non-null  datetime64[ns]
 1   city                80332 non-null  object
 2   state               74535 non-null  object
 3   country             70662 non-null  object
 4   shape               78400 non-null  object
 5   duration (seconds)  80329 non-null  float64
 6   comments            80317 non-null  object
 7   latitude            80331 non-null  float64
 8   longitude           80332 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(5)
memory usage: 5.5+ MB

In [ ]:
# Convert the 'duration' column to numeric if it's not already in numeric format
df['duration (seconds)'] = pd.to_numeric(df['duration (seconds)'], errors='coerce')

# Filter data for the city 'Los Angeles'
los_angeles_data = df[df['city'] == 'los angeles']

# Calculate the average duration for Los Angeles
average_duration_los_angeles = los_angeles_data['duration (seconds)'].mean()

print(f"Average Duration for Los Angeles: {average_duration_los_angeles} seconds")

Average Duration for Los Angeles: 763.1359773371105 seconds

In [ ]:
import pandas as pd

# Assuming you have a DataFrame named 'df' with 'City', 'Duration', and 'Datetime' columns
# You can read a dataset using pd.read_csv or other functions

# Convert the 'Datetime' column to datetime format
df['datetime'] = pd.to_datetime(df['datetime'], errors='coerce')

# Filter data for the time range 1960 to 1983
filtered_data = df[(df['datetime'].dt.year >= 1960) & (df['datetime'].dt.year <= 1983)]

# Find the city that ranked third for UFO sightings
city_ranked_third = filtered_data['city'].value_counts().index[2]

# Filter data for the city that ranked third
third_ranked_city_data = filtered_data[filtered_data['city'] == city_ranked_third]

# Calculate the average duration
average_duration_third_ranked_city = round(third_ranked_city_data['duration (seconds)'].mean())

print(f"The city ranked third for UFO sightings between 1960 and 1983 is: {city_ranked_third}")
print(f"The average duration in this city is: {average_duration_third_ranked_city} seconds")

The city ranked third for UFO sightings between 1960 and 1983 is: los angeles
The average duration in this city is: 473 seconds

In [ ]:
import pandas as pd

# Assuming you have a DataFrame named 'df' with 'City' and 'Duration' columns
# You can read a dataset using pd.read_csv or other functions

# Convert the 'Duration' column to numeric if it's not already in numeric format
df['duration (seconds)'] = pd.to_numeric(df['duration (seconds)'], errors='coerce')

# Calculate the mean duration for each city
mean_duration_per_city = df.groupby('city')['duration (seconds)'].mean().round()

# Display the mean duration for each city
print(mean_duration_per_city)

city
&ccedil;anakkale (turkey)                                   600.0
&iacute;safj&ouml;r&eth;ur (iceland)                        900.0
&ouml;lmstad (sweden)                                         2.0
1-25 corridor (southbound&#44 65 miles north nm border)    2700.0
100 mile (canada)                                            15.0
                                                            ...
zuiddorpe (netherlands)                                     900.0
zumbrota                                                     14.0
zutphen (netherlands)                                       120.0
zwevegem (belgium)                                         1500.0
zwolle                                                     1260.0
Name: duration (seconds), Length: 19900, dtype: float64

In [ ]:
import pandas as pd

# Assuming you have a DataFrame named 'df' with 'City', 'Duration', and 'Datetime' columns
# You can read a dataset using pd.read_csv or other functions

# Convert the 'Datetime' column to datetime format
df['datetime'] = pd.to_datetime(df['datetime'], errors='coerce')

# Filter data for the time range 1960 to 1983
filtered_data = df[(df['datetime'].dt.year >= 1960) & (df['datetime'].dt.year <= 1983)]

# Convert the 'Duration' column to numeric if it's not already in numeric format
filtered_data['duration (seconds)'] = pd.to_numeric(filtered_data['duration (seconds)'], errors='coerce')

# Calculate the mean duration for each city
mean_duration_per_city = filtered_data.groupby('city')['duration (seconds)'].mean().round()

# Display the mean duration for each city
print(mean_duration_per_city)

city
29 palms                        900.0
a field outside small town     5400.0
abbeville (lake secession)      300.0
aberdeen                       1890.0
accord                         1200.0
                                ...
zanesville                      300.0
zell (farm outside of)          120.0
zimmerman (3 miles east of)     600.0
zirndorf (west germany)           3.0
zuiddorpe (netherlands)         900.0
Name: duration (seconds), Length: 2877, dtype: float64

<ipython-input-38-1344bc2c5acd>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['duration (seconds)'] = pd.to_numeric(filtered_data['duration (seconds)'], errors='coerce')

In [ ]:
import pandas as pd

# Assuming you have a DataFrame named 'df' with 'City', 'Duration', and 'Datetime' columns
# You can read a dataset using pd.read_csv or other functions

# Convert the 'Datetime' column to datetime format
df['datetime'] = pd.to_datetime(df['datetime'], errors='coerce')

# Filter data for the time range 1960 to 1983
filtered_data = df[(df['datetime'].dt.year >= 1960) & (df['datetime'].dt.year <= 1983)]

# Convert the 'Duration' column to numeric if it's not already in numeric format
filtered_data['duration (seconds)'] = pd.to_numeric(filtered_data['duration (seconds)'], errors='coerce')

# Calculate the mean duration for each city
mean_duration_per_city = filtered_data.groupby('city')['duration (seconds)'].mean().round()

# Find the top 3 cities
top_3_cities = mean_duration_per_city.nlargest(3)

# Display the top 3 cities with their mean duration values
print(top_3_cities)

city
somerset (uk/england)      25248000.0
birmingham (uk/england)    16309050.0
new canaan                  9468000.0
Name: duration (seconds), dtype: float64

<ipython-input-39-a620d6ac4fc0>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['duration (seconds)'] = pd.to_numeric(filtered_data['duration (seconds)'], errors='coerce')